# library Beautiful Soup
-

In [94]:
import requests
import numpy as np
import pandas as pd

## Inspect Page Elements
- Mac : Control + Options + I
- Win : Control + Shift + I

In [10]:
# retrieve HTML elements
URL = 'https://realpython.github.io/fake-jobs/'
page = requests.get(URL)  #get requests and retrieve data

In [8]:
page

In [12]:
print(page.text[0:100])  #attribute of page

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=

## Inspect elements
- Click on the first job, Right Click on Job Name - Inpsect
- Elements seen/ Class Name
    - "<h2 class='title is-5'> Python Developer </h2>" : contains title of job posting  eg Python Developer
    - "<h3 class='subtitle is-6 company'> TCS <h3>" : contains name of coy offering the job
    - "<p class='location'> Bengaluru </p> ": contains the location of job

In [19]:
from bs4 import BeautifulSoup

In [20]:
URL

'https://realpython.github.io/fake-jobs/'

In [22]:
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')  #html content extracted from URL
#appropriate parser to extact elements and their values

## Finding elements by ID
- In HTML web pages, every element has id attributed, which makes element uniquely identified on the page
- parse page by selecting specific elements by its ID
- here
    -  look for element with <div id = ....> attribute which has value of Results Container
    -  "< div id =ResultsContainer >"
    -  "<!--- all the job posting inside this HTML markup >"
    -   "< /div >"

In [33]:
results = soup.find(id='ResultsContainer')
results.text[0:100]

'\n\n\n\n\n\n\n\n\n\n\nSenior Python Developer\nPayne, Roberts and Davis\n\n\n\n\n        Stewartbury, AA\n      \n\n2021'

In [35]:
results.prettify()[0:100]

'<div class="columns is-multiline" id="ResultsContainer">\n <div class="column is-half">\n  <div class='

## find elements by HTML class name
- every job is wrapped in <div> element with class = card-content

In [36]:
job_elements = results.find_all('div' , class_ = 'card-content')
#iterable every job card is return

i = 0
for job_element in job_elements[:10]:
    print('...................... Job No ' , str(i))
    print(job_elements, end='\n')
    i = i + 1
    if (i > 2): break

In [58]:
i=0
for job_element in job_elements:
    i = i + 1
    title_element = job_element.find('h2', class_='title is-5')
    coy_element = job_element.find('h3', class_='company')
    print('Next Job : '+ str(i))
    print(title_element)
    print(coy_element)
    print()

Next Job : 1
<h2 class="title is-5">Senior Python Developer</h2>
<h3 class="subtitle is-6 company">Payne, Roberts and Davis</h3>

Next Job : 2
<h2 class="title is-5">Energy engineer</h2>
<h3 class="subtitle is-6 company">Vasquez-Davidson</h3>

Next Job : 3
<h2 class="title is-5">Legal executive</h2>
<h3 class="subtitle is-6 company">Jackson, Chambers and Levy</h3>

Next Job : 4
<h2 class="title is-5">Fitness centre manager</h2>
<h3 class="subtitle is-6 company">Savage-Bradley</h3>

Next Job : 5
<h2 class="title is-5">Product manager</h2>
<h3 class="subtitle is-6 company">Ramirez Inc</h3>

Next Job : 6
<h2 class="title is-5">Medical technical officer</h2>
<h3 class="subtitle is-6 company">Rogers-Yates</h3>

Next Job : 7
<h2 class="title is-5">Physiological scientist</h2>
<h3 class="subtitle is-6 company">Kramer-Klein</h3>

Next Job : 8
<h2 class="title is-5">Textile designer</h2>
<h3 class="subtitle is-6 company">Meyers-Johnson</h3>

Next Job : 9
<h2 class="title is-5">Television floor manager</h2>
<h3 class="subtitle is-6 company">Hughes-Williams</h3>

Next Job : 10
<h2 class="title is-5">Waste management officer</h2>
<h3 class="subtitle is-6 company">Jones, Williams and Villa</h3>

Next Job : 11
<h2 class="title is-5">Software Engineer (Python)</h2>
<h3 class="subtitle is-6 company">Garcia PLC</h3>

Next Job : 12
<h2 class="title is-5">Interpreter</h2>
<h3 class="subtitle is-6 company">Gregory and Sons</h3>

Next Job : 13
<h2 class="title is-5">Architect</h2>
<h3 class="subtitle is-6 company">Clark, Garcia and Sosa</h3>

Next Job : 14
<h2 class="title is-5">Meteorologist</h2>
<h3 class="subtitle is-6 company">Bush PLC</h3>

Next Job : 15
<h2 class="title is-5">Audiological scientist</h2>
<h3 class="subtitle is-6 company">Salazar-Meyers</h3>

Next Job : 16
<h2 class="title is-5">English as a second language teacher</h2>
<h3 class="subtitle is-6 company">Parker, Murphy and Brooks</h3>

Next Job : 17
<h2 class="title is-5">Surgeon</h2>
<h3 class="subtitle is-6 company">Cruz-Brown</h3>

Next Job : 18
<h2 class="title is-5">Equities trader</h2>
<h3 class="subtitle is-6 company">Macdonald-Ferguson</h3>

Next Job : 19
<h2 class="title is-5">Newspaper journalist</h2>
<h3 class="subtitle is-6 company">Williams, Peterson and Rojas</h3>

Next Job : 20
<h2 class="title is-5">Materials engineer</h2>
<h3 class="subtitle is-6 company">Smith and Sons</h3>

Next Job : 21
<h2 class="title is-5">Python Programmer (Entry-Level)</h2>
<h3 class="subtitle is-6 company">Moss, Duncan and Allen</h3>

Next Job : 22
<h2 class="title is-5">Product/process development scientist</h2>
<h3 class="subtitle is-6 company">Gomez-Carroll</h3>

Next Job : 23
<h2 class="title is-5">Scientist, research (maths)</h2>
<h3 class="subtitle is-6 company">Manning, Welch and Herring</h3>

Next Job : 24
<h2 class="title is-5">Ecologist</h2>
<h3 class="subtitle is-6 company">Lee, Gutierrez and Brown</h3>

Next Job : 25
<h2 class="title is-5">Materials engineer</h2>
<h3 class="subtitle is-6 company">Davis, Serrano and Cook</h3>

Next Job : 26
<h2 class="title is-5">Historic buildings inspector/conservation officer</h2>
<h3 class="subtitle is-6 company">Smith LLC</h3>

Next Job : 27
<h2 class="title is-5">Data scientist</h2>
<h3 class="subtitle is-6 company">Thomas Group</h3>

Next Job : 28
<h2 class="title is-5">Psychiatrist</h2>
<h3 class="subtitle is-6 company">Silva-King</h3>

Next Job : 29
<h2 class="title is-5">Structural engineer</h2>
<h3 class="subtitle is-6 company">Pierce-Long</h3>

Next Job : 30
<h2 class="title is-5">Immigration officer</h2>
<h3 class="subtitle is-6 company">Walker-Simpson</h3>

Next Job : 31
<h2 class="title is-5">Python Programmer (Entry-Level)</h2>
<h3 class="subtitle is-6 company">Cooper and Sons</h3>

Next Job : 32
<h2 class="title is-5">Neurosurgeon</h2>
<h3 class="subtitle is-6 company">Donovan, Gonzalez and Figueroa</h3>

Next Job : 33
<h2 class="title is-5">Broadcast engineer</h2>
<h3 class="subtitle is-6 company">Morgan, Butler and Bennett</h3>

Next Job : 34
<h2 class="title is-5">Make</h2>
<h3 class="subtitle is-6 company">Snyder-Lee</h3>

Next Job : 35
<h2 class="title is-5">Nurse, adult</h2>
<h3 class="subtitle is-6 company">Harris PLC</h3>

Next Job : 36
<h2 class="title is-5">Air broker</h2>
<h3 class="subtitle is-6 company">Washington PLC</h3>

Next Job : 37
<h2 class="title is-5">Editor, film/video</h2>
<h3 class="subtitle is-6 company">Brown, Price and Campbell</h3>

Next Job : 38
<h2 class="title is-5">Production assistant, radio</h2>
<h3 class="subtitle is-6 company">Mcgee PLC</h3>

Next Job : 39
<h2 class="title is-5">Engineer, communications</h2>
<h3 class="subtitle is-6 company">Dixon Inc</h3>

Next Job : 40
<h2 class="title is-5">Sales executive</h2>
<h3 class="subtitle is-6 company">Thompson, Sheppard and Ward</h3>

Next Job : 41
<h2 class="title is-5">Software Developer (Python)</h2>
<h3 class="subtitle is-6 company">Adams-Brewer</h3>

Next Job : 42
<h2 class="title is-5">Futures trader</h2>
<h3 class="subtitle is-6 company">Schneider-Brady</h3>

Next Job : 43
<h2 class="title is-5">Tour manager</h2>
<h3 class="subtitle is-6 company">Gonzales-Frank</h3>

Next Job : 44
<h2 class="title is-5">Cytogeneticist</h2>
<h3 class="subtitle is-6 company">Smith-Wong</h3>

Next Job : 45
<h2 class="title is-5">Designer, multimedia</h2>
<h3 class="subtitle is-6 company">Pierce-Herrera</h3>

Next Job : 46
<h2 class="title is-5">Trade union research officer</h2>
<h3 class="subtitle is-6 company">Aguilar, Rivera and Quinn</h3>

Next Job : 47
<h2 class="title is-5">Chemist, analytical</h2>
<h3 class="subtitle is-6 company">Lowe, Barnes and Thomas</h3>

Next Job : 48
<h2 class="title is-5">Programmer, multimedia</h2>
<h3 class="subtitle is-6 company">Lewis, Gonzalez and Vasquez</h3>

Next Job : 49
<h2 class="title is-5">Engineer, broadcasting (operations)</h2>
<h3 class="subtitle is-6 company">Taylor PLC</h3>

Next Job : 50
<h2 class="title is-5">Teacher, primary school</h2>
<h3 class="subtitle is-6 company">Oliver, Jones and Ramirez</h3>

Next Job : 51
<h2 class="title is-5">Python Developer</h2>
<h3 class="subtitle is-6 company">Rivera and Sons</h3>

Next Job : 52
<h2 class="title is-5">Manufacturing systems engineer</h2>
<h3 class="subtitle is-6 company">Garcia PLC</h3>

Next Job : 53
<h2 class="title is-5">Producer, television/film/video</h2>
<h3 class="subtitle is-6 company">Johnson, Wells and Kramer</h3>

Next Job : 54
<h2 class="title is-5">Scientist, forensic</h2>
<h3 class="subtitle is-6 company">Gonzalez LLC</h3>

Next Job : 55
<h2 class="title is-5">Bonds trader</h2>
<h3 class="subtitle is-6 company">Morgan, White and Macdonald</h3>

Next Job : 56
<h2 class="title is-5">Editorial assistant</h2>
<h3 class="subtitle is-6 company">Robinson-Fitzpatrick</h3>

Next Job : 57
<h2 class="title is-5">Photographer</h2>
<h3 class="subtitle is-6 company">Waters, Wilson and Hoover</h3>

Next Job : 58
<h2 class="title is-5">Retail banker</h2>
<h3 class="subtitle is-6 company">Hill LLC</h3>

Next Job : 59
<h2 class="title is-5">Jewellery designer</h2>
<h3 class="subtitle is-6 company">Li-Gregory</h3>

Next Job : 60
<h2 class="title is-5">Ophthalmologist</h2>
<h3 class="subtitle is-6 company">Fisher, Ryan and Coleman</h3>

Next Job : 61
<h2 class="title is-5">Back-End Web Developer (Python, Django)</h2>
<h3 class="subtitle is-6 company">Stewart-Alexander</h3>

Next Job : 62
<h2 class="title is-5">Licensed conveyancer</h2>
<h3 class="subtitle is-6 company">Abbott and Sons</h3>

Next Job : 63
<h2 class="title is-5">Futures trader</h2>
<h3 class="subtitle is-6 company">Bryant, Santana and Davenport</h3>

Next Job : 64
<h2 class="title is-5">Counselling psychologist</h2>
<h3 class="subtitle is-6 company">Smith PLC</h3>

Next Job : 65
<h2 class="title is-5">Insurance underwriter</h2>
<h3 class="subtitle is-6 company">Patterson-Singh</h3>

Next Job : 66
<h2 class="title is-5">Engineer, automotive</h2>
<h3 class="subtitle is-6 company">Martinez-Berry</h3>

Next Job : 67
<h2 class="title is-5">Producer, radio</h2>
<h3 class="subtitle is-6 company">May, Taylor and Fisher</h3>

Next Job : 68
<h2 class="title is-5">Dispensing optician</h2>
<h3 class="subtitle is-6 company">Bailey, Owen and Thompson</h3>

Next Job : 69
<h2 class="title is-5">Designer, fashion/clothing</h2>
<h3 class="subtitle is-6 company">Vasquez Ltd</h3>

Next Job : 70
<h2 class="title is-5">Chartered loss adjuster</h2>
<h3 class="subtitle is-6 company">Leblanc LLC</h3>

Next Job : 71
<h2 class="title is-5">Back-End Web Developer (Python, Django)</h2>
<h3 class="subtitle is-6 company">Jackson, Ali and Mckee</h3>

Next Job : 72
<h2 class="title is-5">Forest/woodland manager</h2>
<h3 class="subtitle is-6 company">Blankenship, Knight and Powell</h3>

Next Job : 73
<h2 class="title is-5">Clinical cytogeneticist</h2>
<h3 class="subtitle is-6 company">Patton, Haynes and Jones</h3>

Next Job : 74
<h2 class="title is-5">Print production planner</h2>
<h3 class="subtitle is-6 company">Wood Inc</h3>

Next Job : 75
<h2 class="title is-5">Systems developer</h2>
<h3 class="subtitle is-6 company">Collins Group</h3>

Next Job : 76
<h2 class="title is-5">Graphic designer</h2>
<h3 class="subtitle is-6 company">Flores-Nelson</h3>

Next Job : 77
<h2 class="title is-5">Writer</h2>
<h3 class="subtitle is-6 company">Mitchell, Jones and Olson</h3>

Next Job : 78
<h2 class="title is-5">Field seismologist</h2>
<h3 class="subtitle is-6 company">Howard Group</h3>

Next Job : 79
<h2 class="title is-5">Chief Strategy Officer</h2>
<h3 class="subtitle is-6 company">Kramer-Edwards</h3>

Next Job : 80
<h2 class="title is-5">Air cabin crew</h2>
<h3 class="subtitle is-6 company">Berry-Houston</h3>

Next Job : 81
<h2 class="title is-5">Python Programmer (Entry-Level)</h2>
<h3 class="subtitle is-6 company">Mathews Inc</h3>

Next Job : 82
<h2 class="title is-5">Warden/ranger</h2>
<h3 class="subtitle is-6 company">Riley-Johnson</h3>

Next Job : 83
<h2 class="title is-5">Sports therapist</h2>
<h3 class="subtitle is-6 company">Spencer and Sons</h3>

Next Job : 84
<h2 class="title is-5">Arts development officer</h2>
<h3 class="subtitle is-6 company">Camacho-Sanchez</h3>

Next Job : 85
<h2 class="title is-5">Printmaker</h2>
<h3 class="subtitle is-6 company">Oliver and Sons</h3>

Next Job : 86
<h2 class="title is-5">Health and safety adviser</h2>
<h3 class="subtitle is-6 company">Eaton PLC</h3>

Next Job : 87
<h2 class="title is-5">Manufacturing systems engineer</h2>
<h3 class="subtitle is-6 company">Stanley-Frederick</h3>

Next Job : 88
<h2 class="title is-5">Programmer, applications</h2>
<h3 class="subtitle is-6 company">Bradley LLC</h3>

Next Job : 89
<h2 class="title is-5">Medical physicist</h2>
<h3 class="subtitle is-6 company">Parker, Goodwin and Zavala</h3>

Next Job : 90
<h2 class="title is-5">Media planner</h2>
<h3 class="subtitle is-6 company">Kim-Miles</h3>

Next Job : 91
<h2 class="title is-5">Software Developer (Python)</h2>
<h3 class="subtitle is-6 company">Moreno-Rodriguez</h3>

Next Job : 92
<h2 class="title is-5">Surveyor, land/geomatics</h2>
<h3 class="subtitle is-6 company">Brown-Ortiz</h3>

Next Job : 93
<h2 class="title is-5">Legal executive</h2>
<h3 class="subtitle is-6 company">Hartman PLC</h3>

Next Job : 94
<h2 class="title is-5">Librarian, academic</h2>
<h3 class="subtitle is-6 company">Brooks Inc</h3>

Next Job : 95
<h2 class="title is-5">Barrister</h2>
<h3 class="subtitle is-6 company">Washington-Castillo</h3>

Next Job : 96
<h2 class="title is-5">Museum/gallery exhibitions officer</h2>
<h3 class="subtitle is-6 company">Nguyen, Yoder and Petty</h3>

Next Job : 97
<h2 class="title is-5">Radiographer, diagnostic</h2>
<h3 class="subtitle is-6 company">Holder LLC</h3>

Next Job : 98
<h2 class="title is-5">Database administrator</h2>
<h3 class="subtitle is-6 company">Yates-Ferguson</h3>

Next Job : 99
<h2 class="title is-5">Furniture designer</h2>
<h3 class="subtitle is-6 company">Ortega-Lawrence</h3>

Next Job : 100
<h2 class="title is-5">Ship broker</h2>
<h3 class="subtitle is-6 company">Fuentes, Walls and Castro</h3>

In [60]:
i=0
for job_element in job_elements:
    i = i + 1
    title_element = job_element.find('h2', class_='title is-5')
    coy_element = job_element.find('h3', class_='company')
    print('Next Job : '+ str(i))
    print(title_element.text)
    print(coy_element.text)
    if (i > 5) : break
    print()

Next Job : 1
Senior Python Developer
Payne, Roberts and Davis

Next Job : 2
Energy engineer
Vasquez-Davidson

Next Job : 3
Legal executive
Jackson, Chambers and Levy

Next Job : 4
Fitness centre manager
Savage-Bradley

Next Job : 5
Product manager
Ramirez Inc

Next Job : 6
Medical technical officer
Rogers-Yates

In [61]:
#remove extra WhiteSpaces if any
i=0
for job_element in job_elements:
    i = i + 1
    title_element = job_element.find('h2', class_='title is-5')
    coy_element = job_element.find('h3', class_='company')
    print('Next Job : '+ str(i))
    print(title_element.text.strip())
    print(coy_element.text.strip())
    if (i > 5) : break
    print()

Next Job : 1
Senior Python Developer
Payne, Roberts and Davis

Next Job : 2
Energy engineer
Vasquez-Davidson

Next Job : 3
Legal executive
Jackson, Chambers and Levy

Next Job : 4
Fitness centre manager
Savage-Bradley

Next Job : 5
Product manager
Ramirez Inc

Next Job : 6
Medical technical officer
Rogers-Yates

## Save the data in dataframe
-

## Find job by name filter
-  lambda looks at the text at the end of h2 element
-  converts it to lowercase & checks if python substrint occurs
-  https://realpython.com/beautiful-soup-web-scraper-python/

In [64]:
python_jobs = results.find_all('h2', string=lambda text: 'python' in text.lower())

In [65]:
python_jobs

[<h2 class="title is-5">Senior Python Developer</h2>,
 <h2 class="title is-5">Software Engineer (Python)</h2>,
 <h2 class="title is-5">Python Programmer (Entry-Level)</h2>,
 <h2 class="title is-5">Python Programmer (Entry-Level)</h2>,
 <h2 class="title is-5">Software Developer (Python)</h2>,
 <h2 class="title is-5">Python Developer</h2>,
 <h2 class="title is-5">Back-End Web Developer (Python, Django)</h2>,
 <h2 class="title is-5">Back-End Web Developer (Python, Django)</h2>,
 <h2 class="title is-5">Python Programmer (Entry-Level)</h2>,
 <h2 class="title is-5">Software Developer (Python)</h2>]

In [66]:
len(python_jobs)
# there is only 1 element of text in the result

10

In [76]:
i=0
for job_element in python_jobs:
    i = i + 1
    title_element = job_element.find('h2', class_='title')
    #coy_element = job_element.find('h3', class_='company')
    print('Next Job : '+ str(i))
    #print(title_element.text.strip())
    print(coy_element.text.strip())
    #if (i > 5) : break
    print()
# error received - read in doc of the link

Next Job : 1

AttributeError: 'NoneType' object has no attribute 'text'

In [77]:
# we have to search for python in job title and then go up the parent and access all elements

In [80]:
python_jobs = results.find_all( 'h2', string=lambda text:'python' in text.lower())
# down-up hierarchy
# results -> h2 elements (search) -> parent (media-content) -> parent(media) -> parent(card-content)

In [81]:
python_job_elements = [ h2_element.parent.parent.parent for h2_element in python_jobs]
# operate on each of h2 title

In [114]:
#only python jobs : list title, coy etc
i=0
for job_element in python_job_elements:
    i = i + 1
    title_element = job_element.find('h2', class_='title')
    coy_element = job_element.find('h3', class_='company')
    loc_element = job_element.find('p', class_='location') 
    #print('Next Job : '+ str(i))
    #print(title_element.text.strip())
    #print(coy_element.text.strip())
    #print(loc_element.text.strip())
    print('Job No-' + str(i) + '::' + title_element.text.strip() + ":" + coy_element.text.strip() + ":" + loc_element.text.strip())
    links = job_element.find_all('a')
    for link in links:
        print(link.text.strip() + "::" + link['href'])
    if (i > 5) : break
    print()

Job No-1::Senior Python Developer:Payne, Roberts and Davis:Stewartbury, AA
Learn::https://www.realpython.com
Apply::https://realpython.github.io/fake-jobs/jobs/senior-python-developer-0.html

Job No-2::Software Engineer (Python):Garcia PLC:Ericberg, AE
Learn::https://www.realpython.com
Apply::https://realpython.github.io/fake-jobs/jobs/software-engineer-python-10.html

Job No-3::Python Programmer (Entry-Level):Moss, Duncan and Allen:Port Sara, AE
Learn::https://www.realpython.com
Apply::https://realpython.github.io/fake-jobs/jobs/python-programmer-entry-level-20.html

Job No-4::Python Programmer (Entry-Level):Cooper and Sons:West Victor, AE
Learn::https://www.realpython.com
Apply::https://realpython.github.io/fake-jobs/jobs/python-programmer-entry-level-30.html

Job No-5::Software Developer (Python):Adams-Brewer:Brockburgh, AE
Learn::https://www.realpython.com
Apply::https://realpython.github.io/fake-jobs/jobs/software-developer-python-40.html

Job No-6::Python Developer:Rivera and Sons:East Michaelfort, AA
Learn::https://www.realpython.com
Apply::https://realpython.github.io/fake-jobs/jobs/python-developer-50.html

# adding data into DF
-

In [116]:
i=0
df = pd.DataFrame(columns =['ser','jobTitle', 'company', 'location'])
#df = pd.DataFrame()
for job_element in python_job_elements:
    i = i + 1
    title = job_element.find('h2', class_='title').text.strip()
    coy = job_element.find('h3', class_='company').text.strip()
    loc = job_element.find('p', class_='location').text.strip()
    links = job_element.find_all('a')
    dfDict = {'ser':i, 'jobTitle':title, 'company':coy, 'location':loc}
    df.loc[i] = dfDict
df

,ser,jobTitle,company,location
1,1,Senior Python Developer,"Payne, Roberts and Davis","Stewartbury, AA"
2,2,Software Engineer (Python),Garcia PLC,"Ericberg, AE"
3,3,Python Programmer (Entry-Level),"Moss, Duncan and Allen","Port Sara, AE"
4,4,Python Programmer (Entry-Level),Cooper and Sons,"West Victor, AE"
5,5,Software Developer (Python),Adams-Brewer,"Brockburgh, AE"
6,6,Python Developer,Rivera and Sons,"East Michaelfort, AA"
7,7,"Back-End Web Developer (Python, Django)",Stewart-Alexander,"South Kimberly, AA"
8,8,"Back-End Web Developer (Python, Django)","Jackson, Ali and Mckee","New Elizabethside, AA"
9,9,Python Programmer (Entry-Level),Mathews Inc,"Robertborough, AP"
10,10,Software Developer (Python),Moreno-Rodriguez,"Martinezburgh, AE"

In [113]:
df.shape

(10, 4)