In [1]:
# Mysql Connection

In [1]:
#Libraries
#!pip install mysql-connector-python

In [2]:
import mysql.connector
from mysql.connector import Error

In [3]:
#Connection Check

In [4]:
try:
    # Establish the connection
    connection = mysql.connector.connect(
        host='localhost',        # Replace with your host
        user='subha',             # Replace with your username
        password='Agrima2024#',  # Replace with your password
        database='GSTBILLING'      # Replace with your database name
    )

    if connection.is_connected():
        print("Connection successful")
        # Proceed with your database operations here
    #Get and display server details
    db_Info = connection.get_server_info()
    print("MySQL Server version:", db_Info)

except Error as e:
    print(f"Error: {e}")

finally:
    if connection.is_connected():
        connection.close()
        print("Connection closed")

Connection successful
MySQL Server version: 9.1.0
Connection closed

In [42]:
# create connection
connection = mysql.connector.connect(
        host='localhost',        # Replace with your host
        user='subha',             # Replace with your username
        password='Agrima2024#',  # Replace with your password
        database='GSTBILLING'      # Replace with your database name
    )

In [43]:
# display all records
def display_all():
    qd1 = 'select * from sample'
    cur=connection.cursor()
    cur.execute(qd1)
    records = cur.fetchall()
    print(f"{len(records)} found in the sample table") 
    if records:
        print('\n All records in the sample Table')
        for row in records:
            print(row)
    else:
        print('\n No records found in the products Table')

In [44]:
display_all()

10 found in the sample table

 All records in the sample Table
(1, 'Product A', 1, 'Company X', datetime.date(2024, 1, 10), Decimal('100.00'), Decimal('18.00'), Decimal('118.00'))
(2, 'Product B', 2, 'Company Y', datetime.date(2024, 2, 15), Decimal('200.00'), Decimal('18.00'), Decimal('236.00'))
(3, 'Product C', 3, 'Company Z', datetime.date(2024, 3, 20), Decimal('300.00'), Decimal('18.00'), Decimal('354.00'))
(4, 'Product D', 4, 'Company X', datetime.date(2024, 4, 25), Decimal('400.00'), Decimal('12.00'), Decimal('448.00'))
(5, 'Product E', 5, 'Company Y', datetime.date(2024, 5, 30), Decimal('500.00'), Decimal('5.00'), Decimal('525.00'))
(10, 'Product A', 1, 'Company X', datetime.date(2024, 1, 1), Decimal('100.00'), Decimal('30.00'), Decimal('130.00'))
(12, 'Product B', 2, 'Company Y', datetime.date(2024, 2, 1), Decimal('200.00'), Decimal('15.00'), Decimal('230.00'))
(13, 'Product C', 3, 'Company Z', datetime.date(2024, 3, 1), Decimal('300.00'), Decimal('5.00'), Decimal('315.00'))
(14, 'Product D', 4, 'Company X', datetime.date(2024, 4, 1), Decimal('400.00'), Decimal('15.00'), Decimal('460.00'))
(15, 'Product E', 3, 'Company Y', datetime.date(2024, 5, 1), Decimal('500.00'), Decimal('30.00'), Decimal('650.00'))

In [45]:
sData = [
            ('20', 'Product A', 1, 'Company X', '100', '2024-01-01', '30', '130'),
            ('22', 'Product B', 2, 'Company Y', '200', '2024-02-01', '15', '230'),
            ('23', 'Product C', 3, 'Company Z', '300', '2024-03-01', '5', '315'),
            ('24', 'Product D', 4, 'Company X', '400', '2024-04-01', '15', '460'),
            ('25', 'Product E', 3, 'Company Y', '500', '2024-05-01', '30', '650')
        ]
sData

[('20', 'Product A', 1, 'Company X', '100', '2024-01-01', '30', '130'),
 ('22', 'Product B', 2, 'Company Y', '200', '2024-02-01', '15', '230'),
 ('23', 'Product C', 3, 'Company Z', '300', '2024-03-01', '5', '315'),
 ('24', 'Product D', 4, 'Company X', '400', '2024-04-01', '15', '460'),
 ('25', 'Product E', 3, 'Company Y', '500', '2024-05-01', '30', '650')]

In [46]:
# insert sample rows
def insert_sample():
    iq1 =  ''' INSERT INTO sample (SNO, PNAME, PRANK, COY, PRICE, DOM, GST, FPRICE) VALUES 
(%s, %s, %s, %s, %s, %s, %s, %s) '''
    print(iq1.count("%s"))
    if connection.is_connected():
            # Creating a cursor object
            cursor = connection.cursor()
            cursor.executemany(iq1, sData)
            connection.commit()
            #print(f'{cur.rowcount} rows inserted successfully !')

In [47]:
insert_sample()

8

In [48]:
display_all()

15 found in the sample table

 All records in the sample Table
(1, 'Product A', 1, 'Company X', datetime.date(2024, 1, 10), Decimal('100.00'), Decimal('18.00'), Decimal('118.00'))
(2, 'Product B', 2, 'Company Y', datetime.date(2024, 2, 15), Decimal('200.00'), Decimal('18.00'), Decimal('236.00'))
(3, 'Product C', 3, 'Company Z', datetime.date(2024, 3, 20), Decimal('300.00'), Decimal('18.00'), Decimal('354.00'))
(4, 'Product D', 4, 'Company X', datetime.date(2024, 4, 25), Decimal('400.00'), Decimal('12.00'), Decimal('448.00'))
(5, 'Product E', 5, 'Company Y', datetime.date(2024, 5, 30), Decimal('500.00'), Decimal('5.00'), Decimal('525.00'))
(10, 'Product A', 1, 'Company X', datetime.date(2024, 1, 1), Decimal('100.00'), Decimal('30.00'), Decimal('130.00'))
(12, 'Product B', 2, 'Company Y', datetime.date(2024, 2, 1), Decimal('200.00'), Decimal('15.00'), Decimal('230.00'))
(13, 'Product C', 3, 'Company Z', datetime.date(2024, 3, 1), Decimal('300.00'), Decimal('5.00'), Decimal('315.00'))
(14, 'Product D', 4, 'Company X', datetime.date(2024, 4, 1), Decimal('400.00'), Decimal('15.00'), Decimal('460.00'))
(15, 'Product E', 3, 'Company Y', datetime.date(2024, 5, 1), Decimal('500.00'), Decimal('30.00'), Decimal('650.00'))
(20, 'Product A', 1, 'Company X', datetime.date(2024, 1, 1), Decimal('100.00'), Decimal('30.00'), Decimal('130.00'))
(22, 'Product B', 2, 'Company Y', datetime.date(2024, 2, 1), Decimal('200.00'), Decimal('15.00'), Decimal('230.00'))
(23, 'Product C', 3, 'Company Z', datetime.date(2024, 3, 1), Decimal('300.00'), Decimal('5.00'), Decimal('315.00'))
(24, 'Product D', 4, 'Company X', datetime.date(2024, 4, 1), Decimal('400.00'), Decimal('15.00'), Decimal('460.00'))
(25, 'Product E', 3, 'Company Y', datetime.date(2024, 5, 1), Decimal('500.00'), Decimal('30.00'), Decimal('650.00'))