# Dates in Python

In [1]:
from datetime import date,datetime, timedelta
from dateutil import parser, relativedelta
import numpy as np
import pandas as pd

In [2]:
d1 = datetime(2024,3,12)
d1

datetime.datetime(2024, 3, 12, 0, 0)

In [3]:
print(d1.month, d1.year, d1.day)

3 2024 12

In [4]:
d1 + timedelta(days=30)

datetime.datetime(2024, 4, 11, 0, 0)

In [5]:
d2 = parser.parse('15th March 2024')
d2.month

3

In [6]:
d2 + timedelta(days=10)

datetime.datetime(2024, 3, 25, 0, 0)

In [7]:
d2 + relativedelta.relativedelta(months=5)

datetime.datetime(2024, 8, 15, 0, 0)

In [35]:
d2 + relativedelta.relativedelta(years=2)

datetime.datetime(2026, 3, 12, 0, 0)

In [7]:
d3 = np.array('2024-03-12', dtype=np.datetime64)
d3

array('2024-03-12', dtype='datetime64[D]')

In [10]:
# arithmetic
print(d3 + 2, d3 + 3, d3 + [4,6,7])

2024-03-14 2024-03-15 ['2024-03-16' '2024-03-18' '2024-03-19']

In [19]:
from calendar import monthrange

In [20]:
today = date.today()
today

datetime.date(2024, 3, 12)

In [27]:
monthrange(today.year, today.month)[1]

31

In [40]:
d1, d2

(datetime.datetime(2024, 3, 12, 0, 0), datetime.datetime(2024, 3, 15, 0, 0))

In [41]:
d2 - d1

datetime.timedelta(days=3)

# pandas Dates

In [44]:
d4 = pd.to_datetime('1 Apr 2024')
d4

Timestamp('2024-04-01 00:00:00')

In [47]:
#series of dates with day diff
d4 + pd.to_timedelta(np.arange(15), unit='D')

DatetimeIndex(['2024-04-01', '2024-04-02', '2024-04-03', '2024-04-04',
               '2024-04-05', '2024-04-06', '2024-04-07', '2024-04-08',
               '2024-04-09', '2024-04-10', '2024-04-11', '2024-04-12',
               '2024-04-13', '2024-04-14', '2024-04-15'],
              dtype='datetime64[ns]', freq=None)

In [49]:
pd.date_range('2024-1-1', '2024-3-15')
# periods=45

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24',
               '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28',
               '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01',
               '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05',
               '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09',
               '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-13',
               '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-17',
               '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21',
               '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25',
               '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29',
               '2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04',
               '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-08',
               '2024-03-09', '2024-03-10', '2024-03-11', '2024-03-12',
               '2024-03-13', '2024-03-14', '2024-03-15'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range('2024-1-1', '2024-3-15', freq='D')

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24',
               '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28',
               '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01',
               '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05',
               '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09',
               '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-13',
               '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-17',
               '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21',
               '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25',
               '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29',
               '2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04',
               '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-08',
               '2024-03-09', '2024-03-10', '2024-03-11', '2024-03-12',
               '2024-03-13', '2024-03-14', '2024-03-15'],
              dtype='datetime64[ns]', freq='D')