In [1]:
# read from gsheets
- 1Yun-OMlBewaCcQwh0o2RMecyPub-OybnqgZYo80qX_Q

In [2]:
import pandas as pd
import numpy as np

In [5]:
url = 'https://docs.google.com/spreadsheets/d/1Yun-OMlBewaCcQwh0o2RMecyPub-OybnqgZYo80qX_Q/' + 'export?gid=323561666&format=csv'
url

'https://docs.google.com/spreadsheets/d/1Yun-OMlBewaCcQwh0o2RMecyPub-OybnqgZYo80qX_Q/export?gid=323561666&format=csv'

In [8]:
df = pd.read_csv(url)

In [9]:
df.head()

,EmployeeNumber,Surname,GivenName,Gender,City,JobTitle,DepartmentName,StoreLocation,Division,Age,LengthService,AbsentHours,BusinessUnit
0,1,Gutierrez,Molly,F,Burnaby,Baker,Bakery,Burnaby,Stores,32.028816,6.018478,36.577306,Stores
1,2,Hardwick,Stephen,M,Courtenay,Baker,Bakery,Nanaimo,Stores,40.320902,5.532445,30.165072,Stores
2,3,Delgado,Chester,M,Richmond,Baker,Bakery,Richmond,Stores,48.822047,4.389973,83.807798,Stores
3,4,Simon,Irene,F,Victoria,Baker,Bakery,Victoria,Stores,44.599357,3.081736,70.020165,Stores
4,5,Delvalle,Edward,M,New Westminster,Baker,Bakery,New Westminster,Stores,35.697876,3.619091,0.000000,Stores

In [10]:
df.columns

Index(['EmployeeNumber', 'Surname', 'GivenName', 'Gender', 'City', 'JobTitle',
       'DepartmentName', 'StoreLocation', 'Division', 'Age', 'LengthService',
       'AbsentHours', 'BusinessUnit'],
      dtype='object')

In [11]:
df.describe()

       EmployeeNumber          Age  LengthService  AbsentHours
count     8336.000000  8336.000000    8336.000000  8336.000000
mean      4168.500000    42.007086       4.782910    61.283978
std       2406.540255     9.939798       2.462990    49.038365
min          1.000000     3.504743       0.012098     0.000000
25%       2084.750000    35.298748       3.575892    19.127590
50%       4168.500000    42.114924       4.600248    56.005808
75%       6252.250000    48.666943       5.623922    94.284692
max       8336.000000    77.938003      43.735239   272.530123

In [12]:
df1 = df[['Age','LengthService', 'AbsentHours']]
df1.head()

         Age  LengthService  AbsentHours
0  32.028816       6.018478    36.577306
1  40.320902       5.532445    30.165072
2  48.822047       4.389973    83.807798
3  44.599357       3.081736    70.020165
4  35.697876       3.619091     0.000000

In [14]:
IV = df1.drop(columns = 'AbsentHours')
DV = df1.AbsentHours
IV.head(), DV.head()

(         Age  LengthService
 0  32.028816       6.018478
 1  40.320902       5.532445
 2  48.822047       4.389973
 3  44.599357       3.081736
 4  35.697876       3.619091,
 0    36.577306
 1    30.165072
 2    83.807798
 3    70.020165
 4     0.000000
 Name: AbsentHours, dtype: float64)

In [15]:
from sklearn.linear_model import LinearRegression

In [17]:
model1 = LinearRegression().fit(IV, DV)

In [18]:
model1

LinearRegression()

In [20]:
model1.score(IV, DV)

0.6971059111402238

In [21]:
model1.coef_

array([ 4.1191878, -1.7628486])

In [24]:
model1.intercept_

-103.31955169812167

In [25]:
model1.predict(IV)

array([ 18.00348873,  53.0169523 ,  90.04876902, ..., 129.95540764,
        64.35853787,  77.83494099])

In [27]:
model1.n_features_in_

2

In [29]:
import statsmodels.api as sm
IV = sm.add_constant(IV)
IV

      const        Age  LengthService
0       1.0  32.028816       6.018478
1       1.0  40.320902       5.532445
2       1.0  48.822047       4.389973
3       1.0  44.599357       3.081736
4       1.0  35.697876       3.619091
...     ...        ...            ...
8331    1.0  46.057544       4.838288
8332    1.0  34.455490       2.427274
8333    1.0  58.347160       4.009393
8334    1.0  43.340616       6.154837
8335    1.0  46.192782       5.174722

[8336 rows x 3 columns]

In [31]:
model2 = sm.OLS(DV, IV)
results = model2.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            AbsentHours   R-squared:                       0.697
Model:                            OLS   Adj. R-squared:                  0.697
Method:                 Least Squares   F-statistic:                     9589.
Date:                Mon, 04 Mar 2024   Prob (F-statistic):               0.00
Time:                        16:31:23   Log-Likelihood:                -39298.
No. Observations:                8336   AIC:                         7.860e+04
Df Residuals:                    8333   BIC:                         7.862e+04
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          -103.3196      1.381    -74.815      0.000    -106.027    -100.612
Age               4.1192      0.030    138.291      0.000       4.061       4.178
LengthService    -1.7628      0.120    -14.665      0.000      -1.998      -1.527
==============================================================================
Omnibus:                       78.379   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              116.689
Skew:                           0.093   Prob(JB):                     4.58e-26
Kurtosis:                       3.549   Cond. No.                         203.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""