# data sets

In [2]:
from pydataset import data

In [5]:
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [6]:
','.join(data().dataset_id)

'AirPassengers,BJsales,BOD,Formaldehyde,HairEyeColor,InsectSprays,JohnsonJohnson,LakeHuron,LifeCycleSavings,Nile,OrchardSprays,PlantGrowth,Puromycin,Titanic,ToothGrowth,UCBAdmissions,UKDriverDeaths,UKgas,USAccDeaths,USArrests,USJudgeRatings,USPersonalExpenditure,VADeaths,WWWusage,WorldPhones,airmiles,airquality,anscombe,attenu,attitude,austres,cars,chickwts,co2,crimtab,discoveries,esoph,euro,faithful,freeny,infert,iris,islands,lh,longley,lynx,morley,mtcars,nhtemp,nottem,npk,occupationalStatus,precip,presidents,pressure,quakes,randu,rivers,rock,sleep,stackloss,sunspot.month,sunspot.year,sunspots,swiss,treering,trees,uspop,volcano,warpbreaks,women,acme,aids,aircondit,aircondit7,amis,aml,bigcity,brambles,breslow,calcium,cane,capability,catsM,cav,cd4,channing,city,claridge,cloth,co.transfer,coal,darwin,dogs,downs.bc,ducks,fir,frets,grav,gravity,hirose,islay,manaus,melanoma,motor,neuro,nitrofen,nodal,nuclear,paulsen,poisons,polar,remission,salinity,survival,tau,tuna,urine,wool,aids,alloauto,allograft,azt,baboon,bcdeter,bfeed,bmt,bnct,btrial,burn,channing,drug6mp,drughiv,hodg,kidney,kidrecurr,kidtran,larynx,lung,pneumon,psych,rats,std,stddiag,tongue,twins,Animals2,CrohnD,NOxEmissions,SiegelsEx,aircraft,airmay,alcohol,ambientNOxCH,bushfire,carrots,cloud,coleman,condroz,cushny,delivery,education,epilepsy,exAM,foodstamp,hbk,heart,kootenay,lactic,milk,pension,phosphor,pilot,possumDiv,pulpfiber,radarImage,salinity,starsCYG,telef,toxicity,vaso,wagnerGrowth,wood,AMSsurvey,Adler,Angell,Anscombe,Baumann,Bfox,Blackmoor,Burt,CanPop,Chile,Chirot,Cowles,Davis,DavisThin,Depredations,Duncan,Ericksen,Florida,Freedman,Friendly,Ginzberg,Greene,Guyer,Hartnagel,Highway1,Leinhardt,Mandel,Migration,Moore,Mroz,OBrienKaiser,Ornstein,Pottery,Prestige,Quartet,Robey,SLID,Sahlins,Salaries,Soils,States,Transact,UN,USPop,Vocab,WeightLoss,Womenlf,Wool,agriculture,animals,chorSub,flower,plantTraits,pluton,ruspini,votes.repub,xclara,affairs,azcabgptca,azdrg112,azpro,azprocedure,badhealth,fasttrakg,fishing,lbw,lbwgrp,loomis,mdvis,medpar,nuts,rwm,rwm1984,rwm5yr,ships,smoking,titanic,titanicgrp,Accident,Airline,Airq,Benefits,Bids,BudgetFood,BudgetItaly,BudgetUK,Bwages,CPSch3,CRANpackages,Capm,Car,Caschool,Catsup,Cigar,Cigarette,Clothing,Computers,Cracker,Crime,DM,Diamond,Doctor,DoctorAUS,DoctorContacts,Earnings,Electricity,Fair,Fatality,Fishing,Forward,FriendFoe,Garch,Gasoline,Griliches,Grunfeld,HC,HI,Hdma,Heating,Hedonic,Housing,Icecream,Journals,Kakadu,Ketchup,Klein,LaborSupply,Labour,MCAS,Males,Mathlevel,MedExp,Metal,Mode,ModeChoice,Mofa,Mroz,MunExp,NaturalPark,Nerlove,OFP,Oil,PSID,Participation,PatentsHGH,PatentsRD,Pound,Produc,RetSchool,SP500,Schooling,Somerville,Star,Strike,StrikeDur,StrikeNb,SumHes,Tobacco,Train,TranspEq,Treatment,Tuna,USFinanceIndustry,USclassifiedDocuments,USstateAbbreviations,UStaxWords,UnempDur,Unemployment,University,VietNamH,VietNamI,Wages,Wages1,Workinghours,Yen,Yogurt,bankingCrises,incomeInequality,nonEnglishNames,politicalKnowledge,PD,aldh2,apoeapoc,cf,crohn,fa,fsnps,hla,hr1420,l51,lukas,mao,mfblong,mhtdata,nep499,diamonds,economics,midwest,movies,mpg,msleep,presidential,seals,Arbuthnot,Bowley,Cavendish,ChestSizes,CushnyPeebles,CushnyPeeblesN,Dactyl,DrinksWages,Fingerprints,Galton,GaltonFamilies,Guerry,Jevons,Langren.all,Langren1644,Macdonell,MacdonellDF,Michelson,MichelsonSets,Minard.cities,Minard.temp,Minard.troops,Nightingale,OldMaps,PearsonLee,PolioTrials,Prostitutes,Pyx,Quarrels,Snow.deaths,Snow.polygons,Snow.pumps,Snow.streets,Wheat,Wheat.monarchs,Yeast,YeastD.mat,ZeaMays,barley,environmental,ethanol,melanoma,singer,Aids2,Animals,Boston,Cars93,Cushings,DDT,GAGurine,Insurance,Melanoma,OME,Pima.te,Pima.tr,Pima.tr2,Rabbit,Rubber,SP500,Sitka,Sitka89,Skye,Traffic,UScereal,UScrime,VA,abbey,accdeaths,anorexia,bacteria,beav1,beav2,biopsy,birthwt,cabbages,caith,cats,cement,chem,coop,cpus,crabs,deaths,drivers,eagles,epil,farms,fgl,forbes,galaxies,gehan,genotype,geyser,gilgais,hills,housing,immer,leuk,mammals,mcycle,menarche,michelson,minn38,motors,muscle,newcomb,nlschools,npk,npr1,oats,painters,petrol,quine,road,rotifer,ships,shrimp,shuttle,snails,steam,stormer,survey,synth.te,synth.tr,topo,waders,whiteside,wtloss,Cigar,Crime,EmplUK,Gasoline,Grunfeld,Hedonic,LaborSupply,Males,Produc,Snmesp,SumHes,Wages,baseball,AustralianElectionPolling,AustralianElections,EfronMorris,RockTheVote,UKHouseOfCommons,absentee,admit,bioChemists,ca2006,iraqVote,politicalInformation,presidentialElections,prussian,unionDensity,vote92,french_fries,smiths,tips,car.test.frame,car90,cu.summary,kyphosis,solder,stagec,PublicSchools,Bollen,CNES,Klein,Kmenta,Tests,bladder,cancer,cgd,colon,flchain,heart,kidney,leukemia,logan,lung,mgus,nwtco,ovarian,pbc,rats,stanford2,tobin,veteran,Arthritis,Baseball,BrokenMarriage,Bundesliga,Bundestag2005,Butterfly,CoalMiners,DanishWelfare,Employment,Federalist,Hitters,HorseKicks,Hospital,JobSatisfaction,JointSports,Lifeboats,NonResponse,OvaryCancer,PreSex,Punishment,RepVict,Saxony,SexualFun,SpaceShuttle,Suicide,Trucks,UKSoccer,VisualAcuity,VonBort,WeldonDice,WomenQueue,MatchIt.url,PErisk,SupremeCourt,Weimar,Zelig.url,approval,bivariate,coalition,coalition2,eidat,free1,free2,friendship,grunfeld,hoff,homerun,immi1,immi2,immi3,immi4,immi5,immigration,klein,kmenta,macro,mexico,mid,newpainters,sanction,sna.ex,swiss,tobin,turnout,voteincome,BCG,BtheB,CYGOB1,Forbes2000,GHQ,Lanza,agefat,aspirin,birthdeathrates,bladdercancer,clouds,epilepsy,foster,heptathlon,mastectomy,meteo,orallesions,phosphate,pistonrings,planets,plasma,polyps,polyps3,pottery,rearrests,respiratory,roomwidth,schizophrenia,schizophrenia2,schooldays,skulls,smoking,students,suicides,toothpaste,voting,water,watervoles,waves,weightgain,womensrole,Bechtoldt,Bechtoldt.1,Bechtoldt.2,Dwyer,Gleser,Gorsuch,Harman.5,Harman.8,Harman.political,Holzinger,Holzinger.9,Reise,Schmid,Thurstone,Thurstone.33,Tucker,ability,affect,bfi,bfi.dictionary,blot,burt,cities,cubits,cushny,epi,epi.bfi,epi.dictionary,galton,heights,income,iqitems,msq,neo,peas,sat.act,withinBetween,Bosco,CobarOre,Mammals,barro,engel,uis,dietox,koch,ohio,respdis,respiratory,seizure,sitka89,spruce,liver,portpirie,rain,summer,wavesurge,winter,arthritis,housing,bmw,danish,nidd.annual,nidd.thresh,siemens,sp.raw,spto87,Dyestuff,Dyestuff2,InstEval,Pastes,Penicillin,VerbAgg,cake,cbpp,grouseticks,sleepstudy'

In [7]:
import seaborn as sns

In [8]:
snstitanic = sns.load_dataset('titanic')
snstitanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True