 # random values
- random()
- randint()
- sample()
- choice()
- randrang()
- uniform()
- shuffle()
- seed()

In [2]:
import random
import numpy as np
import pandas as pd

In [3]:
# random nos
random.randint(0,9)

4

In [4]:
random.random()

0.36082077589664074

In [7]:
randomList = []
for i in range(0,10):
    rn = random.randint(100,200)
    randomList.append(rn)
randomList

[146, 179, 137, 168, 159, 164, 117, 145, 152, 194]

In [8]:
rs = random.sample(range(50,100), 10)
rs

[60, 90, 86, 55, 87, 75, 94, 73, 78, 56]

In [9]:
#random nos from list
rnlist = random.choice(rs)
print(rnlist)

55

In [10]:
rng =random.randrange(10,50,4)
rng

34

In [11]:
ru = random.uniform(13,17)
ru

15.857822100462919

In [12]:
randomList

[146, 179, 137, 168, 159, 164, 117, 145, 152, 194]

In [13]:
random.shuffle(randomList)
randomList

[194, 145, 164, 159, 117, 179, 146, 137, 168, 152]

In [14]:
random.random()

0.13967434151928615

In [16]:
random.sample(randomList, 4)

[168, 137, 117, 164]

In [17]:
#using numpy
np.random.standard_normal(10)

array([ 1.1470578 , -2.85153042, -0.43318948,  1.01603215,  1.00505057,
       -0.49634961, -1.33872683, -0.7536037 ,  0.27238861, -0.16664736])

In [20]:
np.random.randint(1,20,50)

array([19, 16, 16,  2,  2, 10, 19,  7,  9,  8, 11, 14, 12, 15,  1,  2,  5,
        5, 10,  3, 14,  9, 14,  1,  8,  5, 13,  3,  2, 17, 17,  6, 11, 12,
       17,  9, 12,  8,  1,  2,  9,  4,  9,  1,  1, 18,  1,  4,  1,  9])

In [21]:
#dates

In [22]:
from datetime import date, timedelta

In [23]:
d1, d2 = date(2023,1,1), date(2023,6,30)
d1, d2

(datetime.date(2023, 1, 1), datetime.date(2023, 6, 30))

In [25]:
daysbet = d2 - d1
totalDays = daysbet.days
totalDays

180

In [27]:
rDates = [ ]
k = 20 
for idx in range(20):
    random.seed(a=None)
    randay = random.randrange(totalDays)
    rDates.append(d1 + timedelta(days= randay))
rDates

[datetime.date(2023, 2, 24),
 datetime.date(2023, 6, 4),
 datetime.date(2023, 2, 14),
 datetime.date(2023, 1, 17),
 datetime.date(2023, 4, 26),
 datetime.date(2023, 6, 10),
 datetime.date(2023, 5, 19),
 datetime.date(2023, 6, 9),
 datetime.date(2023, 6, 14),
 datetime.date(2023, 1, 12),
 datetime.date(2023, 1, 12),
 datetime.date(2023, 4, 24),
 datetime.date(2023, 1, 11),
 datetime.date(2023, 6, 18),
 datetime.date(2023, 5, 14),
 datetime.date(2023, 3, 29),
 datetime.date(2023, 1, 12),
 datetime.date(2023, 2, 23),
 datetime.date(2023, 1, 26),
 datetime.date(2023, 6, 18)]

In [38]:
s1 =  pd.Series(pd.to_datetime(rDates))
type(s1)
s1

0    2023-02-24
1    2023-06-04
2    2023-02-14
3    2023-01-17
4    2023-04-26
5    2023-06-10
6    2023-05-19
7    2023-06-09
8    2023-06-14
9    2023-01-12
10   2023-01-12
11   2023-04-24
12   2023-01-11
13   2023-06-18
14   2023-05-14
15   2023-03-29
16   2023-01-12
17   2023-02-23
18   2023-01-26
19   2023-06-18
dtype: datetime64[ns]

In [39]:
df1 = pd.DataFrame({'s1':s1})
df1

           s1
0  2023-02-24
1  2023-06-04
2  2023-02-14
3  2023-01-17
4  2023-04-26
5  2023-06-10
6  2023-05-19
7  2023-06-09
8  2023-06-14
9  2023-01-12
10 2023-01-12
11 2023-04-24
12 2023-01-11
13 2023-06-18
14 2023-05-14
15 2023-03-29
16 2023-01-12
17 2023-02-23
18 2023-01-26
19 2023-06-18

In [47]:
df1['s2'] = df1['s1'].apply(lambda x: x+timedelta(days = random.randint(0,10)))
df1

           s1         s2
0  2023-02-24 2023-03-01
1  2023-06-04 2023-06-05
2  2023-02-14 2023-02-22
3  2023-01-17 2023-01-27
4  2023-04-26 2023-04-27
5  2023-06-10 2023-06-19
6  2023-05-19 2023-05-22
7  2023-06-09 2023-06-17
8  2023-06-14 2023-06-19
9  2023-01-12 2023-01-18
10 2023-01-12 2023-01-13
11 2023-04-24 2023-04-30
12 2023-01-11 2023-01-19
13 2023-06-18 2023-06-24
14 2023-05-14 2023-05-24
15 2023-03-29 2023-03-31
16 2023-01-12 2023-01-13
17 2023-02-23 2023-02-24
18 2023-01-26 2023-02-01
19 2023-06-18 2023-06-21