# Simulate data
- faker library
- https://fakerjs.dev/api/date.html#between

In [3]:
#!pip install faker

In [4]:
import pandas as pd
import numpy as np
from faker import Faker
import random
from datetime import datetime, timedelta

In [5]:
fake = Faker('en_IN')

In [6]:
def generate_random_date(start_date, end_date):
    return fake.date_between_dates(date_start=start_date, date_end=end_date)

In [7]:
num_rows = 20000
columns = ['empcode', 'campus', 'Salutation', 'name', 'DOJ', 'DOB', 'Age', 'gender', 'cadre']
data = []

In [8]:
for _ in range(num_rows):
    empcode = fake.unique.random_number(digits=5)
    campus = fake.random_element(elements=('AUMP', 'AUCG', 'AURJ','AUUP','AUMH'))
    salutation = fake.random_element(elements=('Mr.', 'Ms.', 'Dr.'))
    name = fake.name()
    doj = generate_random_date(datetime(2020, 1, 1), datetime(2023, 1, 1)).strftime('%Y-%m-%d')
    dob = generate_random_date(datetime(1960, 1, 1), datetime(2000, 1, 1)).strftime('%Y-%m-%d')
    age = fake.random_int(min=22, max=60)
    gender = fake.random_element(elements=('Male', 'Female'))
    cadre = fake.random_element(elements=('Professor', 'Associate Professor', 'Assistant Professor'))
    data.append([empcode, campus, salutation, name, doj, dob, age, gender, cadre])
df = pd.DataFrame(data, columns=columns)

In [9]:
df.head()

,empcode,campus,Salutation,name,DOJ,DOB,Age,gender,cadre
0,63642,AUUP,Dr.,Kashvi Soni,2021-08-21,1992-04-30,44,Male,Assistant Professor
1,8397,AUMH,Dr.,Faiyaz Kannan,2021-05-25,1993-09-02,29,Male,Professor
2,84791,AUUP,Mr.,Taran Sengupta,2020-06-19,1965-02-24,46,Male,Assistant Professor
3,12707,AUMP,Mr.,Emir Khanna,2022-08-20,1966-05-17,45,Male,Associate Professor
4,20590,AUCG,Mr.,Madhav Khosla,2020-02-24,1961-04-07,37,Female,Professor